header {
      width: 100vw;
      height: 100vh;
      background: url(3.jpeg);
      background-size: cover;
}
nav {
      position: fixed;
      width: 100%;
}

nav ul {
      line-height: 60px;
      text-align: right;
      margin: 0;
      padding-right: 40px;
}

.trn
{
  background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));

}

nav ul li {
      display: inline-block;
      padding: 16px 20px;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
li a:hover {
  color: #56eb07;
}
.logo 
{

    position: fixed;
    top: 10;
    margin-top: 16px;
    padding-left: 30px;
}
.contenair .ps{
  margin-left: 10%;
  margin-top: -400px;
  font-size: 50px
  
}
.apropos{
  margin-left: 25%;
  margin-top: 30px;
  width: 700px;
  height: 150px;
  padding: 25px;
  background-color: #f4f4f4;
  box-shadow: 10px 20px 60px #efebeb ;
}
.apropos .app{
  margin-left: 28%;
  margin-right: 5%;
  margin-top: -150px; 
  

}
.ttr{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-top: 180px;
}

.ttrr{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}


